<!DOCTYPE html>
<html>
<head>
	<title>Cutievirus Launcher</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="lib/vue.js"></script>
</head>
<body>
<div id="vue">
	<header>
		<img id="logo" src="favicon.png"
			@mouseover="heart=true;"
			@mouseout="heart=false;"
		>
		<div id="controls">
            <control-button @click="minimize">-</control-button>
			<control-button @click="maximize">+</control-button>
			<control-button @click="close">×</control-button>
		</div>
	</header>
	<div id="content">
		<aside>
			<nav>
                <game-button
                    v-for="game in games"
                    :game=game
                    :key=game.id
                />
			</nav>
			<div id="version" v-text="version"></div>
		</aside>
		<main>
			<div id="game-info">
				<div id="game-banner" v-if="game.banner">
					<img :src="game.banner" :alt="game.name">
				</div>
				<div id="game-gallery" v-if="game.gallery && game.gallery.length">
					<img
						v-for="img in game.gallery"
						:src=img
						@click="showLightbox(img)"
						onload="resizeGallery()"
					/>
				</div>
				<div id="game-summary" v-html="game.text"></div>
			</div>
			<div id="downloader" v-cloak v-if="!_.isEmpty(game)">
				<button
					id="download-button"
					v-if="!game.installed && !game.downloading"
					@click="downloadGame(game)"
				>Download</button>
				<button
					v-if="game.installed"
					@click="playGame(game)"
				>Play</button>
				<button
					v-if="game.installed && game.update && !game.downloading"
					@click="updateGame(game)"
				>Update</button>
				<div id="download-bar" v-if="game.downloading">
					<div id="download-progress"
						:style="{'--percent':game.downloadProgress}"
					></div>
					<span v-text="game.downloadMessage"></span>
				</div>
			</div>
		</main>
		<div id="lightbox" v-cloak
			@click="hideLightbox()"
		>
			<img v-if="lightboxImage" :src="lightboxImage" />
		</div>
		<div id="loadbox"  v-if="games.length===0">
			<div id="loadtext" v-text="`Loading... Please wait.`"></div>
		</div>
	</div>
    <footer v-html="updaterText"></footer>
</div>
<script src="script.js"></script>
<script src="vue.js"></script>
<script>loadGames();</script>
</body>
</html>