<!doctype html>
<html>
<head>
	<title>Starmium</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../favicon.png">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="../lib/vue.js"></script>
</head>
<body>
<div id="vue">
	<div id="welcome">
		<inline-svg :data="svg" v-if="svg"></inline-svg>
		<p v-if='!provider'>
			Starmium can be earned by investing in Cutievirus products.
			Link your accounts to earn Starmium.
		</p>
		<p v-if='provider'>
			Waiting for response from {{provider}}...
		</p>
	</div>
	<footer id="footer"></footer>
</div>
<script>
	const { remote, ipcRenderer:ipc, shell } = require('electron');
	const mainProcess = remote.require('./starmium/index.js');
	const win = remote.getCurrentWindow();
	//win.openDevTools();
	Vue.component('inline-svg',{
		props: ['data'],
		template:/*html*/`<span v-html="content" class="inline-svg"></span>`,
		async created(){
			this.content = await (await fetch(this.data)).text();
			await Vue.nextTick();
			resetWindowSize();
		},
		data(){return{
			content:'',
		}},
	});

	const vue = new Vue({ 
		el:'#vue',
		data:{
			port:mainProcess.getPort(),
			provider:"itch.io",
			svg:"../img/itchio.svg",
		}
	});

	const defaultWindowHeight=900;
	resetWindowSize();
	function resetWindowSize(){
		const footer = document.getElementById('footer');
		const bounds = footer.getBoundingClientRect();
		const height = Math.floor(bounds.y+bounds.height+window.pageYOffset);
		win.setContentSize(win.getContentSize()[0],Math.min(height,defaultWindowHeight));
	}

	const itchio_link="https://itch.io/user/oauth?client_id=1e631368d8f57f0b2eac9cca0f7fdf7f&scope=profile%3Ame&response_type=token&redirect_uri=http%3A%2F%2Fcutievirus.com%2F%23oauth%3Ditch.io";
	shell.openExternal(`${itchio_link}&state=${vue.$data.port}`);

	function getLocationParameters(s){
		const r = /[?&#]([^?&#=\r\n]+)=([^?&#=\r\n]+)/g;
		const p={};let m;while(m=r.exec(s)){ p[m[1]]=m[2]; }
		return p;
	}

	ipc.on('http-request',(event,url)=>{
		const params = getLocationParameters(url);
		if(params.provider=='itch.io'){
			localStorage.setItem('itchio_access_token',params.access_token);
			win.close();
			//ipc.send('close-starmium-window');
		}
	});
</script>
</body>
</html>