<!doctype html>
<html>
<head>
	<title>Starmium</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../favicon.png">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="../lib/vue.js"></script>
</head>
<body>
<div id="vue">
	<div id="welcome">
		<inline-svg :data="svg" v-if="svg"></inline-svg>
		<p v-if='!provider'>
			Starmium can be earned by investing in Cutievirus products.
			Link your accounts to earn Starmium.
		</p>
		<p v-if='provider'>
			Waiting for response from {{provider}}...
		</p>
	</div>
	
	<oauth-link
	href="https://itch.io/user/oauth?client_id=1e631368d8f57f0b2eac9cca0f7fdf7f&scope=profile%3Ame&response_type=token&redirect_uri=http%3A%2F%2Fcutievirus.com%2Foauth%2F%3Fprovider%3Ditch.io"
	svg="../img/itchio.svg"
	text="itch.io"
	></oauth-link>
	<oauth-link
	href="https://www.patreon.com/oauth2/authorize?response_type=code&client_id=qdkAZJfRdKQTRXwsOh7T5Fhr5xz68dvtPhhC1fc_TuBrPPZyJQBPiRnSs6WEOGqX&redirect_uri=http%3A%2F%2Fcutievirus.com%2Foauth%2F%3Fprovider%3Dpatreon"
	svg="../img/patreon.svg"
	text="Patreon"
	></oauth-link>
	<footer id="footer"></footer>
</div>
<script>
	const { remote, ipcRenderer:ipc, shell } = require('electron');
	const mainProcess = remote.require('./starmium/index.js');
	const win = remote.getCurrentWindow();
	//win.openDevTools();
	Vue.component('inline-svg',{
		props: ['data'],
		template:/*html*/`<span v-html="content" class="inline-svg"></span>`,
		async created(){
			this.content = await (await fetch(this.data)).text();
			await Vue.nextTick();
			resetWindowSize();
		},
		data(){return{
			content:'',
		}},
	});
	Vue.component('oauth-link',{
		props: ['href','svg','text'],
		template: //html
		`<button class='oauth-link'
		v-if='!$root.provider'
		@click='click'
		@mousemove='mousemove'
		><inline-svg :data="svg"></inline-svg>{{text}}</button>`,
		data(){return{
			link:this.href+`&state=${this.$root.port}`,
		}},
		methods:{
			async click(e){
				this.$root.provider=this.text;
				this.$root.svg=this.svg;
				shell.openExternal(this.link);
				await Vue.nextTick();
				resetWindowSize();
			},
			mousemove(e){
				if(e.target!==this.$el){ return; }
				e.target.style.setProperty('--x',e.offsetX/e.target.offsetWidth);
				e.target.style.setProperty('--y',e.offsetY/e.target.offsetHeight);
			},
		}
	});

	const vue = new Vue({ 
		el:'#vue',
		data:{
			port:mainProcess.getPort(),
			provider:null,
			svg:null,
		}
	});

	const defaultWindowHeight=900;
	resetWindowSize();
	function resetWindowSize(){
		const footer = document.getElementById('footer');
		const bounds = footer.getBoundingClientRect();
		const height = Math.floor(bounds.y+bounds.height+window.pageYOffset);
		win.setContentSize(win.getContentSize()[0],Math.min(height,defaultWindowHeight));
	}
</script>
</body>
</html>